[elasticsearch-{{es_major_version}}]
name=Elasticsearch repository for {{es_major_version}} packages
baseurl=https://artifacts.elastic.co/packages/{{es_major_version}}/yum
gpgcheck=1
gpgkey={{es_rpm_key}}
enabled=1
autorefresh=1
type=rpm-md
